@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:italic&display=swap);
::after,
::before,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 1600px;
  margin: 0 auto;
}

@font-face {
  font-family: "Gotham-Bold", sans-serif;
  /* Имя шрифта */
  src: url(../fonts/Gotham-Bold.otf);
  /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: "Gotham-Book", sans-serif;
  /* Имя шрифта */
  src: url(../fonts/Gotham-Book.otf);
  /* Путь к файлу со шрифтом */
}

.menu__main {
  width: 100%;
  position: absolute;
  z-index: 200;
  margin: 0;
  padding: 37px 200px 0 190px;
}

.menu__list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  font-family: "Gotham-Book", sans-serif;
  font-size: 14px;
  line-height: 13px;
  text-transform: uppercase;
}

.menu__item {
  width: 100%;
  display: flex;
  margin: 21px 0 0 0px;
}

.menu__item:hover .menu__ping {
  background-color: #ffffff;
}

.menu__ping {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid white;
  margin-right: 10%;
}

.menu__link {
  text-decoration: none;
  color: #ffffff;
}

.menu__social {
  display: flex;
  margin: 8px 0 0 0px;
}

.social__item {
  margin-left: 5%;
}

.slide__1 {
  background: linear-gradient(63.43deg, rgba(85, 183, 255, 0.94), rgba(125, 89, 255, 0.94)), url("../img/Photo 1.png") center center no-repeat;
  background-size: cover;
}

.slide__2 {
  background: linear-gradient(63.43deg, rgba(85, 183, 255, 0.94), rgba(125, 89, 255, 0.94)), url("../img/Photo 2.png") center center no-repeat;
  background-size: cover;
}

.slide__3 {
  background: linear-gradient(63.43deg, rgba(85, 183, 255, 0.94), rgba(125, 89, 255, 0.94)), url("../img/Photo 3.png") center center no-repeat;
  background-size: cover;
}

.slide__4 {
  background: linear-gradient(63.43deg, rgba(85, 183, 255, 0.94), rgba(125, 89, 255, 0.94)), url("../img/Photo 4.png") center center no-repeat;
  background-size: cover;
}

.header {
  width: 100%;
}

.header__first {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.header__body {
  height: 800px;
}

.header__main {
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.header__title {
  font-family: "Gotham-Bold", sans-serif;
  font-weight: bold;
  font-size: 80px;
  line-height: 96px;
}

.header__text {
  margin: 23px 0 0 264px;
  font-size: 18px;
  line-height: 17px;
  letter-spacing: 0.35em;
}

.header__footer {
  display: block;
  position: absolute;
  bottom: 30px;
  text-align: center;
  left: 0;
  right: 6px;
  cursor: pointer;
}

.header__footer:hover {
  transform: scale(1.2);
}

.header__location {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  padding: 35px 0 0 2px;
}

.slick-next,
.slick-prev {
  display: none;
}

.slick-dots {
  display: flex;
  flex-direction: column;
  list-style: none;
  position: absolute;
  right: 27px;
  top: 296px;
  transform: translate(-50%);
  z-index: 200;
}

.slick-dots li {
  margin: 158% 0;
  font-size: 0;
}

.slick-dots button {
  cursor: pointer;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 3px solid #fff;
  background: none;
}

.slick-dots .slick-active button {
  background-color: white;
}

.main__header {
  width: 100%;
}

.main .container {
  max-width: 100%;
  margin: 0;
}

.main__subHeader-left {
  display: flex;
  align-items: center;
  height: 100%;
}

.main__subHeader-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  margin: 158px 0 95px 0;
}

.title__text {
  font-family: "Gotham-Bold", sans-serif;
  font-size: 44px;
  line-height: 53px;
  text-align: center;
  text-transform: uppercase;
  color: #2c4058;
  margin: 3% 0;
}

.main__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__line {
  border: 1px solid #2c4058;
  width: 50%;
}

.header__subImage-left {
  margin: 0 0 0;
  width: 561px;
  height: 472px;
  background: #55b7ff;
  z-index: 1;
  position: relative;
}

.header__subImage-right {
  margin: 0 0 75px;
  width: 570px;
  height: 470px;
  background: #7e5aff;
  z-index: 1;
}

.header__image {
  z-index: 200;
  position: absolute;
  margin: 144px 0 0 191px;
}

.header__image img {
  height: 472px;
  width: 631px;
  z-index: 200;
}

.header__image1 {
  z-index: 200;
  position: absolute;
  padding: 67px 198px 0px 0;
}

.header__image1 img {
  width: 630px;
  height: 470px;
  z-index: 200;
}

.header__subTitle {
  font-family: "Gotham-Book", sans-serif;
  font-size: 22px;
  line-height: 21px;
  text-transform: uppercase;
  color: #2c4058;
  margin: 7px 0 0;
  letter-spacing: 0.04em;
}

.header__subTitle-left {
  margin: 21px 0 0;
  letter-spacing: 0.04em;
}

.header__title {
  font-family: "Gotham-Bold", sans-serif;
  font-weight: bold;
  font-size: 44px;
  line-height: 53px;
  text-transform: uppercase;
  color: #2c4058;
  margin: 2px 0 0px 0;
  color: rgba(35, 35, 35, 0.596);
  letter-spacing: 0.035em;
}

.header__title-left {
  letter-spacing: 0.02em;
  padding-top: 4px;
}

.header__title1 {
  font-family: "Gotham-Bold", sans-serif;
  font-weight: bold;
  font-size: 80px;
  line-height: 53px;
  text-transform: uppercase;
  color: #2c4058;
  margin: 13px 0 14px 255px;
  color: #ffffff;
  letter-spacing: 2px;
}

.header__subText {
  font-family: "Gotham-Book", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #2c4058;
  letter-spacing: 0.057em;
  width: 73%;
  padding: 17px 0 0;
}

.header__subText-left {
  letter-spacing: 0.05em;
  width: 85%;
}

.header__detail {
  width: 190px;
  height: 50px;
  border: 1px solid #2c4058;
  margin: 32px 0 10px;
  padding: 0 0 0;
  z-index: 900;
  font-family: "Gotham-Book", sans-serif;
  font-size: 14px;
  line-height: 13px;
  color: #2c4058;
  letter-spacing: 0.057em;
  text-transform: uppercase;
}

.header__detail:hover {
  transform: scale(1.2);
}

.content__left {
  padding: 0 0 0 9%;
  margin: 17% 0 0;
}

.content__right {
  padding-left: 190px;
  margin: 13% 0 0;
}

.news {
  background: linear-gradient(57.1deg, rgba(59, 127, 211, 0.8), rgba(35, 203, 249, 0.8)), url("../img/city 2 @2x 1.png");
}

.news__main {
  width: 99%;
}

.news__cards {
  padding: 0 194px 215px 201px;
}

.news .card__content {
  background: white;
  width: 371px;
  height: 500px;
  display: flex;
  flex-direction: column;
}

.news .card__content:hover {
  transform: scale(1.05);
}

.news .card__header img {
  width: 100%;
}

.news .card__main {
  padding: 21px 21px 0;
}

.news .card__title {
  font-family: "Gotham-Bold", sans-serif;
  font-size: 22px;
  line-height: 34px;
  text-transform: uppercase;
  color: #2c4058;
  letter-spacing: 0.025em;
}

.news .card__text {
  font-size: 18px;
  line-height: 29px;
  color: #4b5562;
  letter-spacing: 0.11em;
  padding: 0px 0 33px;
}

.news .card__footer {
  font-family: "Gotham-Book", sans-serif;
  margin-bottom: 5%;
  padding: 0 6% 0;
  display: flex;
  align-items: center;
}

.news .card__subText {
  padding: 0 19px;
}

.news .card__name {
  font-size: 18px;
  line-height: 17px;
  text-transform: uppercase;
  color: #2c4058;
  padding: 3% 0;
  letter-spacing: 0.027em;
}

.news .card__date {
  font-size: 14px;
  line-height: 13px;
  color: #55b7ff;
  margin: 2px 0 3px 2px;
  letter-spacing: 0.05em;
}

.news__cards > .slick-dots li {
  margin: 0 30px;
}

.news__cards > .slick-dots {
  display: flex;
  flex-direction: row;
  list-style: none;
  position: absolute;
  top: 79%;
  left: 41%;
  transform: translateY(-50%);
  z-index: 800;
}

.prev {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 98px;
  transform: translateY(454%);
  z-index: 300;
  background: url("../img/Direction=Left.png") center center no-repeat;
  border: none;
  cursor: pointer;
}

.next {
  position: absolute;
  width: 50px;
  height: 50px;
  right: 106px;
  transform: translateY(452%);
  z-index: 300;
  background: url("../img/Direction=Right.png") center center no-repeat;
  border: none;
  cursor: pointer;
}

.gallery {
  margin: 0 auto;
}

.gallery__footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 54px 10px 80px 0;
}

.gallery__img:hover {
  transform: scale(1.2);
}

.gallery__img {
  margin-left: 188px;
  width: 75%;
}

.gallery__header img {
  width: 37%;
}

.gallery__header img:hover {
  transform: scale(1.2);
}

.gallery .container {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.detail__gallery {
  width: 190px;
  height: 50px;
  font-size: 14px;
  line-height: 13px;
  text-align: center;
  text-transform: uppercase;
  color: #2c4058;
  border: 1px solid #2c4058;
  letter-spacing: 0.04em;
}

.detail__gallery:hover {
  transform: scale(1.1);
  background: #85b3ec;
}

.footer {
  height: 100%;
}

.footer__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.footer__map {
  width: 100%;
  height: 700px;
}

.footer__info {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 520px;
  background: linear-gradient(63.43deg, rgba(85, 183, 255, 0.94), rgba(125, 89, 255, 0.94)), url("../img/Rectangle 15.png") center center no-repeat;
  background-size: cover;
}

.footer__social {
  text-align: end;
  width: 21%;
}

.footer__item {
  margin-left: 11%;
}

.footer__text {
  font-family: "Gotham-Book";
  margin-top: 3%;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}

.footer__contact {
  background: white;
  position: absolute;
  top: -50%;
  z-index: 200;
  width: 770px;
  height: 450px;
}

.contact__list {
  font-size: 18px;
  line-height: 18px;
  color: #2c4058;
  list-style: none;
}

.contact__item {
  margin: 10% 0;
  padding-left: 14%;
}

.contact__link {
  text-decoration: none;
  padding-left: 5%;
  color: #2c4058;
}

.contact__form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-wrap: wrap;
  align-content: center;
}

.contact__name, .contact__emeil {
  width: 300px;
  height: 34px;
  border: none;
  outline: none;
}

.contact__name::placeholder, .contact__emeil::placeholder {
  font-family: "Gotham-Book", sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: #4b5562;
  opacity: 0.5;
  padding: 0 4%;
}

.contact__emeil {
  margin: 6% 0 0;
  width: 300px;
  height: 34px;
}

.contact__line {
  width: 80%;
}

.form__commit {
  width: 140px;
  height: 50px;
  margin: 8% 0 0;
}

.container {
  margin: 0;
}

.title__content {
  padding: 6% 0 42px;
  width: 100%;
  margin-bottom: 33px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title__content-news {
  padding: 135px 0 42px;
  width: 100%;
  margin-bottom: 33px;
}

.title__content-gallery {
  padding: 139px 0 42px;
  width: 100%;
  margin-bottom: 33px;
}

.title__title {
  display: flex;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
}

.title__line {
  border: 1px solid #2c4058;
  width: 10%;
  text-align: center;
}

.title__line-gallery {
  border: 1px solid #2c4058;
}

.title__text {
  font-family: "Gotham-Bold";
  font-size: 44px;
  line-height: 53px;
  text-align: center;
  text-transform: uppercase;
  color: #2c4058;
  margin: 26px 0;
  letter-spacing: 3px;
}

.title__text-news {
  color: #ffffff;
  margin: 26px 0;
  letter-spacing: 1px;
}

.title__text-gallery {
  margin: 26px 0;
  letter-spacing: 0;
}
/*# sourceMappingURL=style.css.map */