.gallery {
  margin: 0 auto;
  &__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 54px 10px 140px 0;
  }
  &__img:hover {
    transform: scale(1.2);
  }
  &__img {
    margin-left: 188px;
    width: 75%;
  }
  &__header img {
    width: 37%;
  }
  &__header img:hover {
    transform: scale(1.2);
  }
  .container {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
}
.detail {
  &__gallery {
    width: 190px;
    height: 50px;
    font-size: 14px;
    line-height: 13px;
    text-align: center;
    text-transform: uppercase;
    color: #2c4058;
    border: 1px solid #2c4058;
    letter-spacing: 0.04em;
  }
  &__gallery:hover {
    transform: scale(1.1);
    background: #85b3ec;
  }
}
