.menu {
  &__main {
    width: 100%;
    position: absolute;
    z-index: 200;
    margin: 0;
    padding: 37px 200px 0 190px;
  }
  &__logo {
  }
  &__list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-family: "Gotham-Book", sans-serif;
    font-size: 14px;
    line-height: 13px;
    text-transform: uppercase;
  }

  &__item {
    width: 100%;
    display: flex;
    margin: 21px 0 0 0px;
  }
  &__item:hover .menu__ping {
    background-color: #ffffff;
  }
  &__ping {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid rgb(255, 255, 255);
    margin-right: 10%;
  }

  &__link {
    text-decoration: none;
    color: $color;
  }

  &__social {
    display: flex;
    margin: 8px 0 0 0px;
  }
}
.social {
  &__item {
    margin-left: 5%;
  }
}
